@import '/src/styles/base';

.SideNavigation_Container {
  min-height: 100vh;
  min-width: 260px;

  // Border
  border-right: $border;
  overflow: hidden;
}

// Logo
.Logo_Wrapper {
  // Position
  display: flex;

  // Padding
  padding: 10px 10px;

  // Border
  border-bottom: $border;

  // Logo img size
  img {
    height: 100%;
  }
}

// Category
.Category {
  padding: 0 10px 15px 10px;
  position: relative;
  border-top: 1px solid #292929;

  .Title {
    display: flex;
    height: fit-content;

    margin: 4px 0 8px 0;
    cursor: pointer;

    p {
      font-family: $heading-font !important;
      font-weight: 500;
      margin: 0;
    }

    // Chevron icon
    input {
      // Icon spacing from text
      margin-right: 10px;

      // Icon size
      width: 16px;
      max-height: 100%;
    }
  }
}

// Navigation
ul {
  // List style
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    // margin: 5px;
    border-radius: 5px;
  }

  a {
    display: flex;
    padding: 3px 0;
    text-decoration: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;

    font-family: $body-font;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      background-color: #8a78c550;
    }
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}

// Tooltip
.tooltip {
  position: relative;

  // Text
  .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 4px;

    position: absolute;
    left: 105%;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: 500;
  }

  // On hover, make visable
  &:hover .tooltiptext {
    visibility: visible;
  }
}

// .my-node-enter {
//   max-height: 0;
//   transition: max-height 0.15s ease-out;
// }
// .my-node-enter-active {
//   max-height: 500px;
//   transition: max-height 0.25s ease-in;
// }

// .my-node-exit {
//   max-height: 0;
//   transition: max-height 0.25s ease-out;
// }

// .my-node-exit-active {
//   // max-height: 0;
//   // transition: max-height 0.15s ease-out;
// }

.active {
  max-height: 200px;
}

.notActive {
  max-height: 0;
}
